# General
alias oo="open ."
alias home='cd ~' # the tilda is too hard to reach
alias wrk="cd /Users/`whoami`/Projects/work"
alias drv="cd /Users/`whoami`/Projects/work/drivers"
alias ops="cd /Users/`whoami`/Projects/open-source"
alias pers="cd /Users/`whoami`/Projects/personal"
alias h='history' # shortcut for history
alias c='clear' # shortcut to clear your terminal
alias ..='cd ..' # move up 1 dir
alias ...='cd ../..' # move up 2 dirs
alias brews='brew list -1'

# MongoDB
alias mtail='tail -f /data/db/current/mongod.log'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -lah ${colorflag}"
alias ld='ls -l ${colorflag} | grep "^d"'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Ruby
alias rake='noglob rake'

# Guard
alias guard='bundle exec guard'
alias gdl='guard list'

# Bundler
alias bi='bundle install'
alias bu='bundle update'
alias be='bundle exec'
alias bv='bundle viz'

# JRuby
alias jrspec='jruby --debug -S rspec --debug'
alias jprofile='jruby --profile.api -S rspec'
alias jexec='jruby -S'

# Rails
alias r='rails'
alias rs='rails s'
alias rg='rails g'
alias rc='rails c'
alias rdbs='rake db:seed'
alias rsp='rs -e production'
alias rst='rs -e test'

# Heroku
alias hk='heroku'

# RVM
alias ru='rvm use'
alias rgu='rvm gemset use'
alias rvmc='rvm current'

# Git
alias git=hub
alias gb='git branch'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gd='git diff'
alias git-amend='git commit --amend -C HEAD'
alias git-count='git shortlog -sn'
alias git-credit='git commit --amend --auth "$1 <$2>" -C HEAD'
alias git-status='git status -sb'
alias git-undo='git reset --soft HEAD~'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gp='git push'
alias gs='git status'
alias gup='git fetch origin master; git rebase origin/master'
alias guph='branch_name=$(git symbolic-ref HEAD 2>/dev/null | cut -d"/" -f 3); git fetch origin `echo $branch_name`; git rebase origin/`echo $branch_name`'
