# General
export LC_ALL="en_US.UTF-8"
export LANG="en_US"
export EDITOR="subl -w"
export ed="subl -w"

# Drip and JRuby
export DRIP_SHUTDOWN=5

# RSpec
export AUTOFEATURE=true
export RSPEC=true

# Rails
export RAILS_ENV='development'

# Python
export WORKON_HOME="$HOME/.virtualenvs"
