# exports a git repo to a new project folder
git-export() {
  if [ $# -lt 2 ]
  then
    echo "Error! Repo and project name required."
  else
    git clone --quiet --depth=1 $1 $2
    rm -rf $2/.git*
  fi
}

# Repeat Command
function repeat() {
  if [ $# -lt 2 ]
  then
    echo "Error! Count and command required."
  else
    for i in {1..$0}; do $#; done
  fi
}

# DNS Records
function dighost() {
  host $(dig $1 | grep ANSWER -C 1 | tail -n 1 | awk '{ print $5 }')
}

# Create a new directory and enter it
function mcd() {
  mkdir -p "$@" && cd "$@"
}

# Add reminder to Reminders.app (OS X 10.8+)
function remind() {
	local text
	if [ -t 0 ]; then
		text="$1" # argument
	else
		text=$(cat) # pipe
	fi
	osascript >/dev/null <<EOF
tell application "Reminders"
	tell the default list
		make new reminder with properties {name:"$text"}
	end tell
end tell
EOF
}

# Create a data URL from a file
function dataurl() {
	local mimeType=$(file -b --mime-type "$1")
	if [[ $mimeType == text/* ]]; then
		mimeType="${mimeType};charset=utf-8"
	fi
	echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')"
}

# Helper to extract an archvie
# credit: http://nparikh.org/notes/zshrc.txt
extract () {
  if [ -f $1 ]; then
    case $1 in
      *.tar.bz2)  tar -jxvf $1                        ;;
      *.tar.gz)   tar -zxvf $1                        ;;
      *.bz2)      bunzip2 $1                          ;;
      *.dmg)      hdiutil mount $1                    ;;
      *.gz)       gunzip $1                           ;;
      *.tar)      tar -xvf $1                         ;;
      *.tbz2)     tar -jxvf $1                        ;;
      *.tgz)      tar -zxvf $1                        ;;
      *.zip)      unzip $1                            ;;
      *.ZIP)      unzip $1                            ;;
      *.pax)      cat $1 | pax -r                     ;;
      *.pax.Z)    uncompress $1 --stdout | pax -r     ;;
      *.Z)        uncompress $1                       ;;
      *)          echo "'$1' cannot be extracted/mounted via extract()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

# Sets desktop background for all spaces (OS X 10.11+ only)
function set-background() {
if [ $# -lt 1 ]; then
echo "Error! Missing required background image file name."
else
filePath=`realpath $1`
sqlite3 /Users/`whoami`/Library/Application\ Support/Dock/desktoppicture.db << EOF
UPDATE data SET value = "$filePath";
.quit
EOF
killall Dock
fi
}

# Checks out a specified pull request on a new branch
function git-pr() {
  if [ $# -lt 1 ]
  then
    echo "Error! Missing Pull Request ID #."
  else
    git fetch origin refs/pull/$1/head:PR-$1;
    git checkout PR-$1;
  fi
}
