[core]
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space

[user]
  email = brandonmblack@gmail.com
  name  = Brandon Black

[github]
  user = brandonblack

[push]
  default = tracking

[branch]
  autosetuprebase = always

[color]
  ui          = auto
  interactive = auto

[hub]
  http-clone = false
  protocol   = https

[url "git://github.com/"]
  insteadOf = gh:
[url "git@github.com:"]
  insteadOf = ghw:
[url "git@github.com:brandonblack/"]
  insteadOf = bb: