[core]
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space

[help]
  autocorrect = -1

[user]
  email = github@brblck.com
  name  = Brandon Black
        signingkey = 64897700

[github]
  user = brandonblack

[push]
  default = tracking

[branch]
  autosetuprebase = always

[rerere]
  enabled = 1

[color]
  ui          = 1
  interactive = 1

[hub]
  http-clone = false
  protocol   = https

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[url "git@heroku.com:"]
  insteadOf = "heroku:"

[commit]
  gpgsign = true

[gpg]
  program = /usr/local/MacGPG2/bin/gpg2

